*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    font: inherit;
    letter-spacing: 1.5px;
}
body {
    min-height: 100vh;
    padding: 50px 20px;
    background: #f2f2f2;
    padding-top: 0px
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    padding-bottom: 15px;
    background: #2d6cff;
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.button-group {
    min-width: 620px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
#search-input{
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background: #f2f2f2;
    outline: none;
}
#user-info{
    align-items: center;
}
#user-info img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #f2f2f2;
}
main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border:10px #2d6cff solid;
    border-radius: 50px;
}
.menu{
    padding: 20px 10px;
    padding-left: 0px;
    min-width: 200px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    background: #2d6cff;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
header h1 {
    padding-right: 10px;
    color: #fff;
    font-size: 42px;
}
.menu button {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
}
.table{
    width: 100%;
    overflow-x: auto;
    margin:0px 20px;
    margin-bottom: 10px;
}
#table{
    margin: 10px 20px;
    overflow-x:auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    border: #2d6cff 3px solid;
    border-radius: 10px;
}
#table-controls h1{
    text-align: center;
    color: #fff;
    font-size: 36px;
}
#table-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    padding: 20px;
    background: #2d6cff;
    color: #fff;
    font-size: 24px;
    gap: 10px;
    border-radius:40px;
    
}
#table-controls button{
    font-size: 16px;
}
.nav-group{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav {
    font: 18px sans-serif;
    display: flex;
    justify-content: center;
    margin-right: 15px;
}
#filters-form{
    display:none;
    margin-left: 40%;
    padding:20px;
    margin-right: 20px;
    border: #2d6cff 1px solid;
    border-radius: 20px;
    background: #7fa4fa;
    font-family:Calibri,sans-serif;
}
#filters-form input{
    margin-bottom: 5px;
}
#pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#pagination li {
    margin: 0 1.5px;
}

#pagination a {
    display: block;
    padding: 7px 14px;
    background-color: #5a8cff;
    border: 1px solid #bbb;
    border-radius: 0.2em;
    text-decoration: none;
}
#pagination a:hover{
    transition: 
    background 0.3s ease,
    box-shadow 0.3s ease;
    background: #1b438c;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}
#pagination a[aria-current="page"] {
    background-color: #333;
    color: #fff;
}
  
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #7fa4fa;
}
th{
    font-family:Calibri,sans-serif;
    padding: 5px;
    background: #7fa4fa;
    border: #2d6cff 1px solid ;
}
#reportChart{
    display: none;
}

.hidden {
    display: none;
}

#edit-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
}
.delete:hover{
    background:rgb(211, 52, 52);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease,box-shadow 0.3s ease;
}
#add-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border: 5px solid rgb(201, 126, 224);
    border-radius: 20px;
    box-shadow:10px 10px 20px  rgba(255, 255, 255, 0.5);
}
.modal-content h3{
    padding-bottom:10px; 
    border-bottom: 2px solid rgb(201, 126, 224);
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}
#edit-form{
    display: flex;
    flex-direction: column;
}
#add-form{
    display: flex;
    flex-direction: column;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
}
input{
    padding: 5px 0px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(201, 126, 224);
    outline: none;
    background-color: transparent;
}
label{
    font-size: 16px;
}
button{
    padding: 10px 20px;
    margin: 2px;
    border: none;
    background: #2d6cff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: #1b438c;
    transition: background 0.3s ease,box-shadow 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 25px;
    font-family: sans-serif;
}
.hide-column { display: none; }